@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
	/* Prevent to add horizontal scroll bars 
	on the site when adding padding to any element */
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(37, 37, 37);
	font-family: 'Inter', sans-serif;
}