@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
	/* Prevent to add horizontal scroll bars 
	on the site when adding padding to any element */
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(37, 37, 37);
}

button {
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	cursor: pointer;	
	outline: none;
	width: 120px;
	height: 75px;
	color: white;
	text-shadow: 0 2px 5px black;
	background: linear-gradient(to top, #696969, #575757);
	border: 2px solid black;
	border-radius: 5px;
}

button:hover {
	background: linear-gradient(to bottom, #696969, #575757);
}

button:active {
	transform: translateY(3px);
}